<h1 class="titulo">Lista de Películas</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">🎥 Cartelera Cine Meridiano</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="irAPeliculas()">🎥 Películas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="irARestaurante()">🍴 Restaurante</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<select name="" id="" [(ngModel)]="idGeneroSeleccionado">
    <option *ngFor="let genero of generos" [value]="genero.id">{{genero.nombre}}</option>
</select>

<div class="acciones">
    <button class="boton-accion" (click)="buscar()">Buscar</button>
    <button class="boton-accion" (click)="topTresValoraciones()">Top 3</button>
    <button class="boton-accion" (click)="limpiar()">Limpiar</button>
    <button class="boton-accion" (click)="calcularMedia()">Calcular Media</button>
  </div>
  
    <div class="media" *ngIf="mostrar">
        <p>Media de las calificaciones: {{ media }}</p>
    </div>

<table class="tabla-peliculas">
  <thead>
    <tr>
      <th>Título</th>
      <th>Año</th>
      <th>Director</th>
      <th>Calificación</th>
      <th>Género</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of listaPeliculasMostradas">
      <td>{{ pelicula.titulo }}</td>
      <td>{{ pelicula.anio }}</td>
      <td>{{ pelicula.director }}</td>
      <td><input type="number" step="0.1" max="10" min="0" [(ngModel)]="pelicula.calificacion" value="{{ pelicula.calificacion }}" class="inputs"></td>
      <td>{{ pelicula.genero.nombre }}</td>
    </tr>
  </tbody>
</table>
